<div class="testimonial-area">
		{% if site.data.testimonials.show_testimonials_section == true %}
			<div class="testimonial-container">
				<div class="testimonial-navigation">
		  		<a class="testimonial-btn prev"><i class="fa fa-arrow-left"></i></a>
						<h3>Our Agents</h3>
		  		<a class="testimonial-btn next"><i class="fa fa-arrow-right"></i></a>
				</div>
				<div id="owl-carousel" class="owl-carousel">
		      {% for item in site.data.testimonials.testimonial %}

						<div class="item-container">
							<div class="item">
								<h3>{{item.name}}</h3>
								<img src="{{item.photo}}" class="item-photo">
								<div id="item-truncated">
										{{item.bio | prepend: '<p class="testimonial">' | append: '</p>' | truncate: 300 }}
								{% if item.bio.size >= 296 %}
									<p class="expand item-toggle">Show More <i class="fa fa-plus-square-o expand"></i></p>
								{% endif %}
								</div>
								<div id="item-expanded" class="item-hide">
								{{item.bio | prepend: '<p class="testimonial">' | append: '</p>' }}
								{% if item.bio.size >= 296 %}
									<p class="expand item-toggle">Show Less <i class="fa fa-minus-square-o expand"></i></p>
								{% endif %}
								</div>

								</div>
							</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
</div>
