<div class="testimonial-area">
		{% if site.data.testimonials.show_testimonials_section == true %}
			<div class="testimonial-container">
				<div class="testimonial-navigation">
		  		<a class="testimonial-btn prev"><i class="fa fa-arrow-left"></i></a>
						<h3>Our Agents</h3>
		  		<a class="testimonial-btn next"><i class="fa fa-arrow-right"></i></a>
				</div>
				<div id="owl-carousel" class="owl-carousel">
		      {% for item in site.data.testimonials.testimonial %}

						<div class="item-container">
							<div class="item">
		            <h3>{{item.name}}</h3>
								<div>
									<img src="{{item.photo}}" class="item-photo">
									{% if item.bio != null %}
									<p class="client-bio">
										{{item.bio}}
									</p>
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
</div>
